.box1{
	width:1000px;
	height: 100px;
	background-color:violet;
	border:1px; color:black;


}

.box2{
	width: 300px;
	height:400px;
	background-color:blue;
	border: 1px;color:black;
	float:left;

}
.box3{
	width: 700px;
	height:400px;
	background-color:#4286f4;
	border: 1px;color:black;
	float:left;
	clear:right;

}

.box4{
	width:1000px;
	height: 100px;
	background-color:violet;
	border:1px; color:black;
	float:left;

}