.box{
	width: 200px;
	height: 200px;
	background-color: violet;
	border:1px solid blue;
	float:left;
}

.box2{
	width: 200px;
	height: 200px;
	background-color: violet;
	border:1px solid blue;
	float:left;
	clear:left;
}